<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
  <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
      <level value="ERROR"/>
      <foreColor value="White"/>
      <backColor value="Red, HighIntensity"/>
    </mapping>
    <mapping>
      <level value="DEBUG"/>
      <backColor value="Green"/>
    </mapping>
    <mapping>
      <level value="WARN"/>
      <foreColor value="White"/>
      <backColor value="Blue, HighIntensity"/>
    </mapping>
    <mapping>
      <level value="INFO"/>
      <foreColor value="White"/>
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="&quot;%utcdate{u}&quot;,&quot;%thread&quot;,&quot;%-5level&quot;,&quot;%logger&quot;,&quot;%message&quot;,&quot;%exception&quot;%newline" />
    </layout>
  </appender>

  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <!--<file value="logfile.csv" />-->
    <file type="log4net.Util.PatternString" value="logfile-%utcdate{yyyy-MM-dd}.csv" />
    <appendToFile value="false" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="1GB" />
    <preserveLogFileNameExtension value="true"/>
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <header value="&quot;UTCDATE&quot;,&quot;THREAD&quot;,&quot;LEVEL&quot;,&quot;LOGGER&quot;,&quot;MESSAGE&quot;,&quot;EXCEPTION&quot;&#xD;&#xA;" />
      <footer value="" />
      <conversionPattern value="&quot;%utcdate{u}&quot;,&quot;%thread&quot;,&quot;%-5level&quot;,&quot;%logger&quot;,&quot;%message&quot;,&quot;%exception&quot;%newline" />
    </layout>
  </appender>

  <root>
    <level value="TRACE" />
    <appender-ref ref="ColoredConsoleAppender" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>
</log4net>
