{
	"actor": {
		"objectType": "Agent",
		"name": "{{FULLNAME}}",
		"account": {
			"homePage": "https://{{SKILLPORTSITE}}",
			"name": "{{SKILLPORTID}}"
		}
	},
	"verb": {
		"id": "http://adlnet.gov/expapi/verbs/completed",
		"display": {
			"en-US": "completed"
		}
	},
	"object": {
		"objectType": "Activity",
		"id": "{{ASSETPATH}}",
		"definition": {
			"type": "http://adlnet.gov/expapi/activities/course",
			"name": {
				"{{LOCALE}}": "{{ASSETTITLE}}"
			}
{{#ASSETDESCRIPION}}
            ,"description": {
				"{{LOCALE}}": "{{ASSETDESCRIPION}}"
			}
{{/ASSETDESCRIPION}}
		}
	},
    "result": {
		"completion": true,
		"success": true,
		"duration": "{{DURATIONTIMESPANFORMATTED}}"
{{#SCORERAW}}
		,"score": {
			"scaled": {{SCORESCALED}},
			"raw": {{SCORERAW}},
			"min": {{SCOREMIN}},
			"max": {{SCOREMAX}}
		}
{{/SCORERAW}}
	},
    "context": {
        "contextActivities": {
            "category": [
                {
                    "id": "https://{{SKILLPORTSITE}}",
                    "definition": {
                        "type": "http://id.tincanapi.com/activitytype/source",
                        "name": {
                            "en-US": "Skillsoft Skillport Platform"
                        }
                    }
                }
            ]
        }
    },
	"timestamp": "{{STATEMENTTIMESTAMPFORMATTED}}",
	"id": "{{STATEMENTID}}",
	"version": "1.0.1"
}
